*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  background: white;
  color: #DB2F66;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 8vw;
  padding-left: 14rem;
  user-select: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: 500;
  width: 80%;
}

div {
  width: 60rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  align-items: center;
}

div h2:nth-child(4) {
  text-decoration: underline;
  font-weight: 700;
}

img[src="storie.jpg"] {
  height: 96vh;
}